body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 300px; /* Adjusted to make the popup wider */
    background-color: #1d1d1d;
    border-radius: 5px;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

h2 {
    font-size: 16px;
    margin: 0px;
    color: white;
    padding: 10px 0px;
}

.block {
    display: flex;
    row-gap: 2px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}
.block2 {
    display: flex;
    column-gap: 5px;
}

.same-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

label {
    font-size: 14px;
    display: block;
    color: white;
    text-align: left;
    width: 50%;
}

input[type="text"] {
    display: block;
    width: 75%;
    padding: 10px;
    border-radius: 5px;
    background-color: #353535;
    border: 1px solid #222222;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #e43a6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c0315c;
}

input[type="checkbox"] {
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.checkbox-label {
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}