/* popup.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 300px; /* Adjusted to make the popup wider */
    background-color: #1d1d1d;
}

h1 {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: white;
}

input {
    display: block;
    width: 100%; /* Adjusted to match button width */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #353535;
    border: 1px solid #222222;
    color: white;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e43a6d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #c0315c;
}
